@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các style khác của bạn */
/* Bạn có thể thêm font hoặc style tùy chỉnh ở dưới này */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}